section(id="create-head-section" class="bg-primary")
  div(class="container")
    div(class="row")
      div(class="col text-center py-5")
        h1(class="display-4") Create
        p(class=lead) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed quis nisi varius, bibendum dolor sit amet, malesuada velit. Quisque sodales.
        a(href="#", class="btn btn-outline-light") Find Out More
section(id="create-section", class="py-5")
  div(class="container")
    div(class="row")
      div(class="col-md-6 order-2")
        img(class="img-fluid mb-3 rounded-circle", src="images/create-section1.jpg")
      div(class="col-md-6 order-1")
        h3 Create Your Passion
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed quis nisi varius, bibendum dolor sit amet, malesuada velit. Quisque sodales.
        div(class="d-flex")
          div(class="p-4 align-self-start") 
            i(class="fas fa-check fa-2x")
          div(class="p-4 align-self-end") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed quis nisi varius, bibendum dolor sit amet, malesuada velit. Quisque sodales.
      
        div(class="d-flex")
          div(class="p-4 align-self-start") 
            i(class="fas fa-check fa-2x")
          div(class="p-4 align-self-end") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed quis nisi varius, bibendum dolor sit amet, malesuada velit. Quisque sodales.
      
