section(id="explore-head-section")
  div(class="container")
    div(class="row")
      div(class="col text-center py-5")
        h1(class="display-4") Explore
        p(class=lead) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed quis nisi varius, bibendum dolor sit amet, malesuada velit. Quisque sodales.
section(id="explore-section", class="bg-light text-muted py-5")
  div(class="container")
    div(class="row")
      div(class="col-md-6")
        img(class="img-fluid mb-3 rounded-circle", src="images/explore-section1.jpg")
      div(class="col-md-6")
        h3 Explore And Connect
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed quis nisi varius, bibendum dolor sit amet, malesuada velit. Quisque sodales.
        div(class="d-flex")
          div(class="p-4 align-self-start") 
            i(class="fas fa-check fa-2x")
          div(class="p-4 align-self-end") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed quis nisi varius, bibendum
      
        div(class="d-flex")
          div(class="p-4 align-self-start") 
            i(class="fas fa-check fa-2x")
          div(class="p-4 align-self-end") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed quis nisi varius, bibendum
      
