header(id="home-section")
  div(class="dark-overlay")
    div(class="home-inner container")
      div(class="row")
        div(class="col-lg-8 d-none d-lg-block")
          h1(class="display-4") Build Social Profiles and gain revenue profits
          div(class="d-flex")
            div(class="p-4 aligh-self-start")
              i(class="fas fa-check fa-2x")
            div(class="p-4 align-self-end") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed qui 
          div(class="d-flex")
            div(class="p-4 aligh-self-start")
              i(class="fas fa-check fa-2x")
            div(class="p-4 align-self-end") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed qui
          div(class="d-flex")
            div(class="p-4 aligh-self-start")
              i(class="fas fa-check fa-2x")
            div(class="p-4 align-self-end") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed qui
          div(class="d-flex")
            div(class="p-4 aligh-self-start")
              i(class="fas fa-check fa-2x")
            div(class="p-4 align-self-end") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed qui
        div(class="col-lg-4")
          div(class="card bg-primary text-center card-form")
            div(class="card-body")
              h3 Sign Up Today
              p Please fill out this form to register
              form 
                div(class="form-group")
                  input(class="form-control form-control-lg", type="text", placeholder="Username")
                div(class="form-group")
                  input(class="form-control form-control-lg", type="email", placeholder="Email")
                div(class="form-group")
                  input(class="form-control form-control-lg", type="password", placeholder="Password")
                div(class="form-group")
                  input(class="form-control form-control-lg", type="password", placeholder="Confirm Password")
                input(type="submit", class="btn btn-outline-light btn-block")
