section(id="Share-head-section", class="bg-primary")
  div(class="container")
    div(class="row")
      div(class="col text-center py-5")
        h1(class="display-4") Share
        p(class=lead) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed qui
section(id="share-section", class="bg-light text-muted py-5")
  div(class="container")
    div(class="row")
      div(class="col-md-6")
        img(class="img-fluid mb-3 rounded-circle", src="images/share-section1.jpg")
      div(class="col-md-6")
        h3 Share What You Create
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed qui
        div(class="d-flex")
          div(class="p-4 align-self-start") 
            i(class="fas fa-check fa-2x")
          div(class="p-4 align-self-end")  pLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed qui
      
        div(class="d-flex")
          div(class="p-4 align-self-start") 
            i(class="fas fa-check fa-2x")
          div(class="p-4 align-self-end") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet vel leo eu eleifend. Quisque vitae fringilla tortor. Sed qui
      
